.footer_datos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .datos_oficina{
        width: 90%;
        margin: 1rem;
        text-align: center;
        @include media-breakpoint-up(md){
            width:45%;
        }

        .datos_oficina_redes{
            font-size: 2rem;
            &>a{
                margin: 0 1rem;
                span{
                    color:rgb(0, 0, 0);
                    transition: all .3s;}
                
                span:hover{
                    color: rgb(117, 155, 211);
                    transform:scale(1.3);
                    transition: all .3s;}
            }
            }
        }
    }
    .datos_map{
        margin: 1rem;
        width: 90%;
        @include media-breakpoint-up(md){
            width:45%;
        }

    }

.footer__redes{
    display: flex ;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 6rem;
    gap:.5rem;
    padding: 0rem;
    background-color:rgb(209, 227, 241);
    color:rgb(77, 67, 10);
    font-size:2rem;

    @include media-breakpoint-up(md){
        gap:2rem;
    }
           
}

.footer__icontop{
    position: fixed;
    bottom: 20px;
    right:30px;
    font-size: 3rem;
    transition: all ease .6s;
    
    @include media-breakpoint-up(md){
        &:hover{
            scale: 1.4;
        }
    }
   
      
}

.WapFlotante{
    position: fixed;
    bottom: 20px;
    left: 30px;
    font-size: 3rem;
    transition: all ease .6s;

    @include media-breakpoint-down(md){
        animation-name: shake;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
   
    @include media-breakpoint-up(md){
        &:hover{
            scale: 1.4;
        }
    }


    a{
        text-decoration: none;
        color: rgb(21, 214, 21);
        
    }
    
}

@keyframes shake {
    from {
      scale: 1.0;
    }
    50% {
        scale:1.3;
    }
  
    to {
     
      scale: 1.0;
    }
  }




