body {
    font-size:20px;
   
}
.section1 {
    background-image: url("../../assets/images/Derechodefamilia2.jpg");
    background-size: cover;

}


.section2{
    display: flex;
    flex-flow: column nowrap;

    .heading{
        text-align: center;
    }

    .servicios {
        width: 70%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center ;
        align-content: center;
        .servicios_box{
            width: 20%;
        }
    }


}