.heading {
    font-family: Lato, sans-serif;
    color: #00b3a6;
    text-shadow: 1px 1px 6px #fff;
    font-size: 1.5rem;
}
.tel, .mail{
    font-family: Lato, sans-serif;
    color: #00b3a6;
    text-shadow: 1px 1px 6px #fff;
}
#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}
